#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/samv71q-pinctrl.h>

/ {
    motor_direction_pins {
        compatible = "gpio-leds";

        /*
         * Direction GPIO pins:
         *   PB02 -> Left Front  IN1
         *   PB03 -> Left Front  IN2
         *   PA05 -> Left Rear   IN1
         *   PA24 -> Left Rear   IN2
         *
         *   PD28 -> Right Front IN1
         *   PA06 -> Right Front IN2
         *   PC31 -> Right Rear  IN1
         *   PC13 -> Right Rear  IN2
         *
         * Avoided: 



         *   PB00 / PB01 -> USART0 HC-05
         *   PD26 / PD24 / PA10 / PA22 -> Audio-related pins
         *   PA00 / PD27 / PC19 / PA02 -> PWM pins
         */

        motor_lf_in1: motor_lf_in1 {
            gpios = <&piob 2 GPIO_ACTIVE_HIGH>;
            label = "Motor LF IN1";
        };

        motor_lf_in2: motor_lf_in2 {
            gpios = <&piob 3 GPIO_ACTIVE_HIGH>;
            label = "Motor LF IN2";
        };

        motor_lr_in1: motor_lr_in1 {
            gpios = <&pioa 5 GPIO_ACTIVE_HIGH>;
            label = "Motor LR IN1";
        };

        motor_lr_in2: motor_lr_in2 {
            gpios = <&pioa 24 GPIO_ACTIVE_HIGH>;
            label = "Motor LR IN2";
        };

        motor_rf_in1: motor_rf_in1 {
            gpios = <&piod 28 GPIO_ACTIVE_HIGH>;
            label = "Motor RF IN1";
        };

        motor_rf_in2: motor_rf_in2 {
            gpios = <&pioa 6 GPIO_ACTIVE_HIGH>;
            label = "Motor RF IN2";
        };

        motor_rr_in1: motor_rr_in1 {
            gpios = <&pioc 31 GPIO_ACTIVE_HIGH>;
            label = "Motor RR IN1";
        };

        motor_rr_in2: motor_rr_in2 {
            gpios = <&pioc 13 GPIO_ACTIVE_HIGH>;
            label = "Motor RR IN2";
        };
    };

    motor_pwm_outputs {
        compatible = "pwm-leds";

        /*
        * PWM pins:
        *   PD20 -> PWM channel 0 -> Left Front ENA
        *   PD27 -> PWM channel 3 -> Left Rear  ENB
        *
        *   PD26 -> PWM channel 2 -> Right Front ENA
        *   PA02 -> PWM channel 1 -> Right Rear  ENB
        */

        motor_lf_pwm: motor_lf_pwm {
            pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
            label = "Motor LF PWM";
        };

        motor_lr_pwm: motor_lr_pwm {
            pwms = <&pwm0 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
            label = "Motor LR PWM";
        };

        motor_rf_pwm: motor_rf_pwm {
            pwms = <&pwm0 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
            label = "Motor RF PWM";
        };

        motor_rr_pwm: motor_rr_pwm {
            pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
            label = "Motor RR PWM";
        };
    };

    aliases {
        motor-lf-in1 = &motor_lf_in1;
        motor-lf-in2 = &motor_lf_in2;

        motor-lr-in1 = &motor_lr_in1;
        motor-lr-in2 = &motor_lr_in2;

        motor-rf-in1 = &motor_rf_in1;
        motor-rf-in2 = &motor_rf_in2;

        motor-rr-in1 = &motor_rr_in1;
        motor-rr-in2 = &motor_rr_in2;

        motor-lf-pwm = &motor_lf_pwm;
        motor-lr-pwm = &motor_lr_pwm;
        motor-rf-pwm = &motor_rf_pwm;
        motor-rr-pwm = &motor_rr_pwm;
    };
};

&usart0 {
    status = "okay";
    current-speed = <9600>;
    pinctrl-0 = <&usart0_default>;
    pinctrl-names = "default";
};

&pwm0 {
    status = "okay";
};
